01_STO/STO.aux
01_STO/STO.fdb_latexmk
01_STO/STO.fls
01_STO/STO.log
01_STO/STO.synctex.gz
01_STO/STO.toc
02_STV/STV.aux
02_STV/STV.fdb_latexmk
02_STV/STV.synctex.gz
02_STV/STV.fls
02_STV/STV.log
*.ai
*.toc
main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
